.overlayBanner {
  margin-bottom: 50px;
}
.ytp-pause-overlay,
.ytp-scroll-min {
  display: none;
}
.thePlayer {
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
  border: 5px dashed black;
}
.controllers {
  display: flex;
  justify-content: center;
}
.controllerBtns {
  color: white;
}

.dashPlayer {
  border-radius: 10px;
}
