/* .overlayBanner {
  position: absolute;
  width: 560px;
  height: 1000px;
  background: red;
  top: 0px;
  left: 0;
} */
.ytp-pause-overlay,
.ytp-scroll-min {
  display: none;
}
.thePlayer {
  margin-top: 10vw;
  margin-left: auto;
  margin-right: auto;
  border: 5px dashed black;
}
