@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");

.Countdown {
  float: right;
  text-align: center;
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid #f08080;
  border-radius: 4px;
  padding: 20px;
  width: 300px;
  background-color: #ffb6c1;
  box-shadow: 0 3px 6px #f08080;
}

.Countdown-header {
  font-family: "Fredoka One", cursive;
  /* font-family: "Permanent Marker", cursive; */
  /* font-family: "Stick", sans-serif; */
  font-size: 40px;
  font-weight: bolder;
}

.martinsButton {
  font-family: "Fredoka One", cursive;
  /* font-family: "Permanent Marker", cursive; */
  font-weight: 700;
  background-color: #48d1cc;
  /* border: solid 1px transparent;
	padding: 10px 20px;
	color: #ffffff;
	border-radius: 4px;
	font-size: 20px; */
  margin: 0 5px;
  cursor: pointer;
}

.martinsButton:hover {
  background-color: #afeeee;
}

.martinsButton-stop {
  background-color: #48d1cc;
}

.Countdown-display {
  margin-top: 5px;
  margin-bottom: 20px;
}
.Countdown-display button {
  /* margin: 0 15px; */
  border: solid 1px transparent;
  border-radius: 2px;
  padding: 4px 16px;
  color: #ffffff;

  font-size: 16px;
}
.Countdown-display button:hover {
  background-color: #afeeee;
}
.Countdown-label {
  font-family: "Fredoka One", cursive;
  /* font-family: "Permanent Marker", cursive; */
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Countdown-time {
  font-family: "Fredoka One", cursive;
  /* font-family: "Permanent Marker", cursive; */
  font-size: 36px;
  margin: 5px 0;
}
